/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(libs/jquery.fullPage.css);
@import url(libs/jquery.bxslider.css);
@import url(html5blank.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 400; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.menu-links-wrapper .littleLinks li, .header-wrapper .header .menu-button, .hero h1 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400; }

.header-wrapper .header .logo {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 700; }

.italic {
  font-family: "Playfair Display", Times, Serif;
  font-weight: 400; }

.italic {
  font-style: italic; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
/*  GRID OF TEN   ============================================================================= */
.span_10_of_10 {
  width: 100%; }

.span_9_of_10 {
  width: 89.84%; }

.span_8_of_10 {
  width: 79.68%; }

.span_7_of_10 {
  width: 69.52%; }

.span_6_of_10 {
  width: 59.36%; }

.span_5_of_10 {
  width: 49.2%; }

.span_4_of_10 {
  width: 39.04%; }

.span_3_of_10 {
  width: 28.88%; }

.span_2_of_10 {
  width: 18.72%; }

.span_1_of_10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_10_of_10 {
    width: 100%; }

  .span_9_of_10 {
    width: 100%; }

  .span_8_of_10 {
    width: 100%; }

  .span_7_of_10 {
    width: 100%; }

  .span_6_of_10 {
    width: 100%; }

  .span_5_of_10 {
    width: 100%; }

  .span_4_of_10 {
    width: 100%; }

  .span_3_of_10 {
    width: 100%; }

  .span_2_of_10 {
    width: 100%; }

  .span_1_of_10 {
    width: 100%; } }
/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.46%; }

.span_10_of_12 {
  width: 83%; }

.span_9_of_12 {
  width: 74.54%; }

.span_8_of_12 {
  width: 66.08%; }

.span_7_of_12 {
  width: 57.62%; }

.span_6_of_12 {
  width: 49.16%; }

.span_5_of_12 {
  width: 40.7%; }

.span_4_of_12 {
  width: 32.24%; }

.span_3_of_12 {
  width: 23.78%; }

.span_2_of_12 {
  width: 15.32%; }

.span_1_of_12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12 {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12 {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12 {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
.menu-section:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gform_wrapper {
  display: block !important; }
  .gform_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .gform_wrapper ul li {
      margin-bottom: 20px; }
      .gform_wrapper ul li input,
      .gform_wrapper ul li textarea {
        font-size: 20px;
        line-height: 20px;
        border-radius: 4px;
        padding: 10px 18px; }
        .gform_wrapper ul li input:focus,
        .gform_wrapper ul li textarea:focus {
          outline: none; }
      .gform_wrapper ul li textarea {
        width: 100%;
        padding: 12px 17px; }
  .gform_wrapper label.gfield_label {
    display: none; }

::selection {
  background: #61A4EA;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #61A4EA;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #61A4EA;
  color: #fff;
  text-shadow: none; }

.menu-links-wrapper .littleLinks.littleLinksBefore ul, .menu-links-wrapper .littleLinks.littleLinksAfter ul, .menu-links-wrapper .bigLinks ul {
  transition: all 800ms cubic-bezier(0.77, 0.025, 0.175, 0.975);
  /* custom */ }

.menu {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: z-index 0.4s step-end 2s, opacity 0.4s linear; }

body.menuActive {
  overflow: hidden; }
  body.menuActive .menu {
    opacity: 1;
    z-index: 5;
    transition: z-index 0.6s step-start, opacity 0.6s linear; }

.menu-close {
  color: #fff;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  z-index: 10;
  cursor: pointer; }
  .menu-close:hover {
    color: #fff; }

.home .menu-links-wrapper {
  opacity: 0;
  transition: opacity 300ms linear, top 650ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
  /* easeInOutQuint */ }
  .home .menu-links-wrapper.active {
    opacity: 1;
    transition: opacity 600ms linear 80ms, top 600ms cubic-bezier(0.86, 0, 0.07, 1);
    /* easeInOutQuint */ }

.menu-links-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 6; }
  .menu-links-wrapper ul {
    text-align: center; }
  .menu-links-wrapper .littleLinks {
    width: 100%; }
    .menu-links-wrapper .littleLinks .divWave {
      background-position: left top; }
    .menu-links-wrapper .littleLinks li {
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      height: 80px; }
    .menu-links-wrapper .littleLinks.littleLinksBefore {
      overflow: hidden;
      position: absolute;
      top: 0;
      height: calc(50% - 46px); }
      .menu-links-wrapper .littleLinks.littleLinksBefore ul {
        position: absolute;
        width: 100%;
        padding-bottom: 10px;
        bottom: -320px; }
      .menu-links-wrapper .littleLinks.littleLinksBefore li .divWave {
        margin: 10px auto 0; }
    .menu-links-wrapper .littleLinks.littleLinksAfter {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      height: calc(50% - 56px); }
      .menu-links-wrapper .littleLinks.littleLinksAfter ul {
        position: absolute;
        width: 100%;
        padding-top: 80px;
        top: -80px; }
      .menu-links-wrapper .littleLinks.littleLinksAfter li .divWave {
        margin: 0 auto 10px; }
    .menu-links-wrapper .littleLinks a {
      color: rgba(255, 255, 255, 0.5);
      line-height: 50px; }
      .menu-links-wrapper .littleLinks a:hover {
        color: #fff; }
  .menu-links-wrapper .bigLinks {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    height: 92px; }
    .menu-links-wrapper .bigLinks ul {
      height: 92px;
      width: 100%;
      position: absolute;
      top: 0px; }
    .menu-links-wrapper .bigLinks li {
      font-size: 74px;
      line-height: 80px;
      margin-bottom: 6px;
      text-align: center; }
      .menu-links-wrapper .bigLinks li a {
        color: #fff;
        position: relative;
        display: inline-block;
        padding-bottom: 7px; }
        .menu-links-wrapper .bigLinks li a:after {
          content: '';
          position: relative;
          bottom: -8px;
          display: block;
          margin: 0 auto -4px;
          height: 2px;
          width: 0px;
          background: transparent;
          transition: width .5s ease, background-color .5s ease; }
        .menu-links-wrapper .bigLinks li a:hover:after {
          width: 100%;
          background-color: #fff; }

.menu-section {
  background-color: #292728;
  position: relative;
  overflow: hidden; }
  .menu-section:before {
    content: "";
    display: block;
    background-color: rgba(17, 16, 17, 0.5);
    transition: all .5s linear;
    z-index: 2; }
  .menu-section.linkHovered:before {
    background-color: rgba(41, 39, 40, 0.8); }
  .menu-section .menu-image {
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 1000ms cubic-bezier(0.99, 0.01, 0.97, 0.735);
    /* custom */ }
  .menu-section.active .menu-image {
    transform: matrix(1.15, 0, 0, 1.15, 0, 0);
    transition: all 9000ms linear; }

.gform_wrapper .gform_body,
.gform_wrapper .gform_body ul, .wrapper, .header-wrapper, .sticky-header-wrapper, .hero, .container, .snap-section, .footer, .section {
  *zoom: 1; }
  .gform_wrapper .gform_body:before,
  .gform_wrapper .gform_body ul:before, .wrapper:before, .header-wrapper:before, .sticky-header-wrapper:before, .hero:before, .container:before, .snap-section:before, .footer:before, .section:before, .gform_wrapper .gform_body:after,
  .gform_wrapper .gform_body ul:after, .wrapper:after, .header-wrapper:after, .sticky-header-wrapper:after, .hero:after, .container:after, .snap-section:after, .footer:after, .section:after {
    content: " ";
    display: table; }
  .gform_wrapper .gform_body:after,
  .gform_wrapper .gform_body ul:after, .wrapper:after, .header-wrapper:after, .sticky-header-wrapper:after, .hero:after, .container:after, .snap-section:after, .footer:after, .section:after {
    clear: both; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Playfair Display", Times, Serif;
  background: #fff;
  color: #292728;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none !important;
  overflow: auto; }

.menu-close, .menu-links-wrapper .littleLinks a, .header-wrapper .header .menu-button,
.header-wrapper .header .logo, .sticky-header-wrapper .sticky-header, .downArrow {
  transition: all 0.2s ease; }

.menu-close:hover, .header-wrapper .header .menu-button:hover,
.header-wrapper .header .logo:hover, .downArrow:hover {
  opacity: .7; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover {
  color: #444; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

input:focus {
  outline: 0;
  border: 1px solid #61A4EA; }

.wrapper, .header-wrapper, .sticky-header-wrapper, .hero {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.container {
  width: 93%;
  margin: 0 auto;
  position: relative; }

.snap-section {
  width: 100%;
  position: relative; }

.col {
  margin-top: 0;
  margin-bottom: 0; }

.bx-wrapper {
  margin-bottom: 0; }

.bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: #fff;
  margin: 0 !important; }

.bx-viewport li {
  min-height: 1px;
  min-width: 1px; }

.header-wrapper .header {
  z-index: 9;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 0; }
  .header-wrapper .header .menu-button,
  .header-wrapper .header .logo {
    cursor: pointer; }
  .header-wrapper .header .menu-button {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    z-index: 9; }
  .header-wrapper .header .logo {
    color: #fff;
    font-size: 28px;
    line-height: 30px;
    float: right; }
  .header-wrapper .header.onWhite {
    background-color: rgba(255, 255, 255, 0.97); }
    .header-wrapper .header.onWhite .menu-button,
    .header-wrapper .header.onWhite .logo {
      color: #292728; }
.header-wrapper.hero-header {
  position: absolute;
  top: 0; }

.sticky-header-wrapper .sticky-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 3;
  opacity: 0; }
  .sticky-header-wrapper .sticky-header.sticky {
    opacity: 1; }
  .sticky-header-wrapper .sticky-header .menu-button,
  .sticky-header-wrapper .sticky-header .logo {
    color: #292728; }

.footer-copyright p {
  font-family: "Playfair Display", Times, Serif;
  font-size: 16px;
  line-height: 26px; }
.footer-copyright a {
  color: #fff; }
  .footer-copyright a:hover {
    color: #78B97F; }

.landing-section {
  background-color: #EEEEEE;
  position: relative;
  z-index: 99; }

.sticky {
  position: fixed;
  top: 0; }

.vAlign {
  position: relative;
  visibility: hidden;
  /* <- needed to hide flash of non vertical aligned content before complete page load. */ }

.divWave {
  display: block;
  width: 42px;
  height: 8px;
  background-image: url(../img/icons/divWave-sprite.png);
  background-position: left top;
  margin: 20px 0; }

.hero {
  position: relative; }
  .hero .hero-text {
    margin-left: 7%; }
  .hero h1 {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .hero h3 {
    font-size: 70px;
    line-height: 78px;
    letter-spacing: 5px; }

.isDarkGray {
  color: #fff;
  background-color: #292728; }

.isWhite {
  background-color: #fff; }

.popPrimary .clrPop {
  color: #61A4EA; }
.popPrimary .downArrow,
.popPrimary .divWave {
  background-position-y: -100px; }

.popSecondary .clrPop {
  color: #78B97F; }
.popSecondary .downArrow,
.popSecondary .divWave {
  background-position-y: -200px; }

.popTertiary .clrPop {
  color: #FCCDC6; }
.popTertiary .downArrow,
.popTertiary .divWave {
  background-position-y: -300px; }

.popQuaternary .clrPop {
  color: #F7D974; }
.popQuaternary .downArrow,
.popQuaternary .divWave {
  background-position-y: -400px; }

.downArrow {
  width: 24px;
  height: 32px;
  background-image: url(../img/icons/downArrow-sprite.png);
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: 6%;
  right: 10%; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .downArrow {
    background-position-x: -100px; }

  .divWave {
    background-position-x: -100px; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
