.header-wrapper {
   @extend .wrapper;

   .header {
      z-index: 3;
      background-color: rgba($white, 0);
      padding: 20px 0;

      .menu-button,
      .logo {
         @extend %hoverTrans;
         cursor: pointer;

         &:hover {
            @extend %hoverFade;
         }
      }

      .menu-button {
         color: $white;
         @extend %sans;
         display: inline-block;
         float: left;
         font-size: 18px;
         line-height: 30px;
         position: relative;
         z-index: 9;
         margin-top: 3px;
      }

      .blog-categories {
         width: calc(100% - 243px);
         float: left;
         margin-left: 40px;
         position: relative;

         .mobile-cat-menu-toggle {
            display: none;
            color: $white;
            padding: 5px;
            @extend %sans;
            font-size: 16px;
            line-height: 20px;
            margin: 3px 0 0;
            @extend %hoverTrans;
            float: right;

            &:hover {
               @extend %hoverFade;
            }

            .down-arrow {
               display: inline-block;
               margin-bottom: -1px;
               margin-left: 3px;
               width: 18px;
               height: 12px;
               background-image: url(../img/icons/cat-menu-arrow@2x.png);
               background-size: 18px 12px;
               @extend %hoverTrans;
            }

            &.catMenuVisible {
               .down-arrow {
                  -moz-transform: scaleY(-1);
                  -o-transform: scaleY(-1);
                  -webkit-transform: scaleY(-1);
                  transform: scaleY(-1);
                  filter: FlipW;
                  -ms-filter: "FlipW";
               }
            }
         }

         .mobile-cat-menu-wrapper {
            max-height: 0;
            transition: max-height 0.25s ease-out;
            overflow: hidden;
            width: 100%;
            max-width: 200px;
            background-color: rgba($black, .75);
            position: absolute;
            top: 32px;
            right: -9%;
            @extend %hoverTrans;

            li {
               display: block;
               text-align: center;
               margin: 18px 0;
            }
         }

         ul {
            text-align: right;
            margin-top: 7px;
         }

         li {
            display: inline-block;
            @extend %sans;
            font-size: 16px;
            line-height: 20px;
            margin: 0 12px;
            @extend %hoverTrans;

            &:first-child {
               margin-left: 0;
            }

            &:last-child {
               margin-right: 0;
            }

            a {
               color: $white;
               padding: 5px 5px 4px;
            }

            &.current_page_item {
               a {
                  border-bottom: 2px solid $white;
               }
            }

            &:hover {
               @extend %hoverFade;
            }
         }
      }

      .logo {
         color: $white;
         @extend %sansB;
         font-size: 28px;
         line-height: 30px;
         float: right;
      }

      &.onWhite {
         background-color: rgba($white, .97);

         .menu-button,
         .logo {
            color: $darkGray;
         }
      }
   }

   &.hero-header {
      position: absolute;
      top: 0;
   }
}

.sticky-header-wrapper {
   @extend .wrapper;
   z-index: 3;

   .sticky-header {
      width: 100%;
      background-color: rgba($white, .97);
      opacity: 0;
      @extend %hoverTrans;

      &.sticky {
         opacity: 1;
      }

      .menu-button,
      .logo {
         color: $darkGray;
      }
   }

   &.darkHeader {
      background-color: transparent;

      .sticky-header {
         background-color: rgba($darkGray, .97);

         .menu-button {
            color: $white;
         }

         .logo {
            color: $white;
         }
      }
   }
}

.project-planner,
.post-type-archive-case-studies {
   .sticky-header-wrapper {
      &.darkHeader {
         .sticky-header {
            background-color: transparent;
         }
      }
   }
}
.project-planner {
   .sticky-header-wrapper {
      position: absolute;
      height: 0 !important;
   }
}


.sticky-header-wrapper.menuHidden .sticky-header {
   margin-top: -70px;
}


// HEADER BREAKPOINTS = = = = = = =
@media only screen and (max-width:850px) {
   .header-wrapper {
      .header {
         .blog-categories {
            ul {
               display: none;
            }

            .mobile-cat-menu-toggle,
            .mobile-cat-menu-wrapper {
               display: block;
            }

            .mobile-cat-menu-wrapper {
               &.catMenuVisible {
                  height: auto;
                  max-height: 1000px;
                  transition: max-height 0.25s ease-in;
               }

               ul {
                  display: block;
               }
            }
         }
      }
   }
}

@media only screen and (max-width:500px) {
   .header-wrapper {
      .header {
         .blog-categories {
            width: calc(100% - 220px);
         }
      }
   }
}