* {
  box-sizing: border-box;
  //-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
   font-size: 62.5%;
   //height: 100%;
}
body {
   font-size: 14px;
   line-height: 1.6;
   font-family: $serif;
   background: $white;
   color: $darkGray;
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   -webkit-touch-callout: none !important;
   overflow: auto;

   &.modalOpen,
   &.menuActive {
      overflow: hidden;
   }
}

%hoverTrans {
   transition: all 0.2s ease;
}
%hoverTransL {
   transition: all 1s ease;
}

%hoverFade {
   opacity: .7;
}

img {
   max-width: 100%;
   vertical-align: bottom;
}
a {
   color: #444;
   text-decoration: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
   color: #444;
}
a:focus {
   outline: 0;
}
a:hover,
a:active {
   outline: 0;
}
// disables touch callouts on links
.hover {
   -webkit-user-select: none;
   -webkit-touch-callout: none;
}

input:focus {
   outline: 0;
   border: 1px solid $primary;
}

.wrapper {
   @extend %clear;
   width: 100%;
   margin: 0;
   padding: 0;
   position: relative;
}

.container {
   @extend %clear;
   width: 93%;
   margin: 0 auto;
   position: relative;
}

.narrowContent {
   max-width: 90%;
   margin: 0 auto;
}

.snap-section {
   @extend %clear;
   width: 100%;
   position: relative;
}


// Fancybox modal popup
.fancybox-close {
   position: fixed;
   top: 5px;
   right: 5px;
   width: 36px;
   height: 36px;
   cursor: pointer;
   z-index: 8040;
   background: transparent;
}
.fancybox-overlay {
   background-color: rgba($black, .9);
   background-image: none;
}
.fancybox-skin {
   position: relative;
   background: transparent;
   color: #444;
   text-shadow: none;
}
.fancybox-opened .fancybox-skin {
   box-shadow: none;
}


// Reset responsivegridsystem
.col {
   margin-top: 0;
   margin-bottom: 0;
}

// Reset bxSlider
.bx-wrapper {
   margin-bottom: 0;
}
.bx-wrapper .bx-viewport {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border: none;
   left: 0;
   background: transparent;
   margin: 0 !important;
}
.bx-viewport li { min-height: 1px; min-width: 1px; }  // Fix for infinite loop weirdness

.bx-wrapper .bx-pager {
   padding-top: 0;
   pointer-events: none;

   .bx-pager-item {
      pointer-events: auto;
   }
}

// Scaling pagination dots
.bx-wrapper {
   .bx-controls {
      .bx-pager.bx-default-pager {
         position: relative;
         display: inline-block;
         margin: 0;
         padding: 0;
         list-style: none;
         cursor: default;
         -webkit-touch-callout: none;
         -webkit-user-select: none;
         -khtml-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         text-align: center;
         font-size: 0;
      }

      .bx-pager-item {
         font-size: inherit;
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin: 0 8px;
         width: 10px;
         height: 10px;
         cursor: pointer;

         a {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            outline: none;
            border-radius: 50%;
            background-color: #fff;
            background-color: rgba(255, 255, 255, 0.3);
            text-indent: -999em; /* make the text accessible to screen readers */
            cursor: pointer;
            position: absolute;
            -webkit-transition: -webkit-transform 0.3s ease .2s, background-color 0.3s ease;
            transition: transform 0.3s ease .2s, background-color 0.3s ease;

            &:hover,
            &:focus {
               background-color: white;
            }

            &.active {
               background-color: white;
               -webkit-transform: scale(1.4);
               transform: scale(1.4);
               -webkit-transition: -webkit-transform 0.3s ease .2s, background-color 0.3s ease .2s;
               transition: transform 0.3s ease .2s, background-color 0.3s ease .2s;
            }
         }
      }
   }
}
