@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {

   // Common elements = = = = = = =

   .popPrimary {
      .downArrow,
      .divWave {
         background-position: -50px -50px;
      }
   }
   .popSecondary {
      .downArrow,
      .divWave {
         background-position: -50px -100px;
      }
   }
   .popTertiary {
      .downArrow,
      .divWave {
         background-position: -50px -150px;
      }
   }
   .popQuaternary {
      .downArrow,
      .divWave {
         background-position: -50px -200px;
      }
   }

   .downArrow {
      background-position: -50px 0;
      background-size: 100px 250px;
   }

   .divWave,
   .menu-links-wrapper .littleLinks .divWave {
      background-position: -50px 0;
      background-size: 100px 250px;
   }


   .main-menu-wrapper {
      .centerBtn {
         .divWave {
            background-position: -50px 0;
         }
      }
   }



   // Page specific = = = = = = =

   // Landing
   .popPrimary .landing-section {
      .downArrow {
         background-position: -50px top;
      }
   }


   // Case Studies - - -
   // WeatherBug
   .weatherbug-earth-networks {
      .weather-icons-wrapper {
         .icons-wrapper {
            .icon-chunk-mobile {
               .icons-img-day,
               .icons-img-night {
                  background-image: url(../img/icons/wb-day-night-mobile@2x.png);
               }
            }
            .icon-chunk-tablet {
               .icons-img-day,
               .icons-img-night {
                  background-image: url(../img/icons/wb-day-night-tablet@2x.png);
               }
            }
            .icon-chunk-desktop {
               .icons-img-day,
               .icons-img-night {
                  background-image: url(../img/icons/wb-day-night-desktop@2x.png);
               }
            }
         }
      }
   }


}


@media only screen
and (max-width:580px)
and (-webkit-min-device-pixel-ratio: 1.5)
and (min-resolution: 144dpi) {
   .landing-section .overlay {
      &.right-overlay.h-brand {
         background-image: url(../img/landing-h-brand-mobile@2x.png);
         background-size: 1200px 1000px;
      }
   }
}