@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {

   // Common elements = = = = = = =

   .downArrow,
   .upArrow {
      background-position: -50px 0;
      background-size: 100px 300px;
   }

   .popPrimary {
      .downArrow,
      .divWave {
         background-position: -50px -50px;
      }
   }
   .popSecondary {
      .downArrow,
      .upArrow {
         background-position: -50px -100px;
      }

      .divWave {
         background-position: -50px -100px;
      }
   }
   .popTertiary {
      .downArrow,
      .divWave {
         background-position: -50px -150px;
      }
   }
   .popQuaternary {
      .downArrow,
      .divWave {
         background-position: -50px -200px;
      }
   }

   .popWhite {
      .downArrow,
      .upArrow {
         background-position: -50px -250px;
      }

      .divWave {
         background-position: -50px 0px;
      }
   }

   .divWave,
   .menu-links-wrapper .littleLinks .divWave {
      background-position: -50px 0;
      background-size: 100px 250px;
   }

   .next-page-cta {
   .divWave {
         background-position: -50px top !important;
      }
   }

   .single-case-studies {
      &.popPrimary {
         .divWave {
            background-position: -50px 0;
         }
      }
   }


   .main-menu-wrapper {
      .centerBtn {
         .divWave {
            background-position: -50px 0;
         }
      }
   }


   .media-boxes {
      .stat-slider {
         .slide-icon {
            background-size: 150px 200px;
         }
      }
      .quote-slider {
         .slide-icon {
            background-size: 150px 200px;
         }
      }
   }
   .home {
      .media-boxes {
         .stat-slider {
            .slide-icon {
               background-position: -50px 0;
            }
         }
         .quote-slider {
            .slide-icon {
               background-position: -50px 0;
            }
         }
      }
   }
   .strategy {
      .media-boxes {
         .stat-slider {
            .slide-icon {
               background-position: -50px -100px;
            }
         }
         .quote-slider {
            .slide-icon {
               background-position: -50px -100px;
            }
         }
      }
   }


   // left-right arrows for shop product slider
   .bx-wrapper {
      .bx-prev,
      .bx-next {
         background-size: 100px 100px;
      }
      .bx-prev {
         background-position: 0 -50px;

         &:hover {
            background-position: 0 -50px;
         }
      }
      .bx-next {
         background-position: -50px -50px;

         &:hover {
            background-position: -50px -50px;
         }
      }
   }

   .woocommerce,
   .woocommerce-page {
      &.woocommerce-cart {
         .cart-heading {
            a {
               .left-arrow {
                  background-position: 0 -50px;
                  background-size: 50px 100px;
               }
            }
         }
      }
   }



   // Page specific = = = = = = =


   // Case Studies - - -
   .single-case-studies {
      .feat-highlight-wrapper {
         .bx-wrapper {
            .bx-prev {
               background-position: 5px -16px;

               &:hover {
                  background-position: 5px -16px;
               }
            }
            .bx-next {
               background-position: -42px -16px;

               &:hover {
                  background-position: -42px -16px;
               }
            }
         }
      }
   }




}