.blog,
.archive,
.single {
   background-color: $darkGray;

   .section-heading {
      margin-top: 0;
      margin-bottom: 0;
      max-width: 860px;
      z-index: 2;
      text-align: left;
      position: relative;

      h3 {
         @extend .sansUpperSpc;
         font-size: 16px;
         line-height: 19px;
         margin-bottom: 2%;
      }

      h1 {
         color: $white;
         font-size: 70px;
         line-height: 78px;
         @include letSpc(3px);
         @extend %serif;
         text-transform: none;

         a {
            color: $white;
            @extend %hoverTrans;

            &:hover {
               @extend %hoverFade;
            }
         }
      }

      .post-meta {
         color: $white;
         font-size: 19px;
         line-height: 26px;
         margin-top: 20px;
         text-align: left;

         span {
            vertical-align: bottom;

            &.clrPop {
               display: inline-block;
               vertical-align: top;
               margin-top: -2px;
            }
         }
      }
   }

   .view-post-cta {
      position: relative;
      @extend %bgCover--center;

      .btn--uline {
         margin-top: 34px;
      }
   }

   .pagination {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba($darkGray, 0.7);
      z-index: 1;
      padding: 12px 7% 15px;

      .page-numbers {
         color: $white;
         font-size: 18px;
         padding: 3px 5px;
         @extend %hoverTrans;

         &:hover {
            color: $secondary;
         }

         &.current {
            color: $white;
            border-bottom: 2px solid $secondary;

            &:hover {
               color: $white;
            }
         }

         &.next {
            padding-right: 0;
         }
         &.prev {
            padding-left: 0;
         }
      }
   }
}


// Blog specific -------
.blog {
   .post-feed-wrapper {
      article {
         overflow: hidden;
      }
   }
}


// Single Post -------
.single {

   .header-wrapper {
      position: absolute;
      top: 0;
   }

   .post-hero {
      position: fixed;
      @extend .wrapper;
      z-index: 0;
   }

   .post-hero-spacer {
      width: 100%;
      display: block;
   }

   .belowHero {
      position: relative;
      z-index: 2;
   }

   .header-wrapper {
      z-index: 1;
   }

   .header .close-btn {
      float: right;
   }

   .section-heading {
      margin-top: -30px;

      h3 {
         @extend .sansUpperSpc;
         font-size: 16px;
         line-height: 19px;
         margin-bottom: 2%;
      }

      h1 {
         font-size: 70px;
         line-height: 78px;
         @include letSpc(3px);
         @extend %serif;
         text-transform: none;
      }

      .post-meta {
         font-size: 19px;
         line-height: 26px;
         margin-top: 20px;

         span {
            vertical-align: bottom;

            &.clrPop {
               display: inline-block;
               vertical-align: top;
               margin-top: -2px;
            }
         }
      }
   }

   .boxPadding {
      padding-right: 7%;
      padding-left: 7%;
   }

   .isContentArea {
      h3 {
         @extend %sans;
         font-size: 35px;
         line-height: 40px;
         margin-bottom: 22px;
      }

      p {
         font-size: 20px;
         line-height: 34px;
      }

      ul,
      ol {
         font-size: 20px;
         line-height: 34px;

         li {
            line-height: 26px;
         }
      }
   }

   // flexible content sections
   .left-content-right-image,
   .quote-block-section {
      .left-content {
         h3 {
            color: $white;
         }

         p {
            color: $secondaryDk;
         }
      }

      .right-image {
         .inner {
            padding-bottom: 100%;
            @extend %bgCover--center;
         }
      }
   }

   .quote-block-section {
      .left-content {
         h4 {
            @extend %serifIt;
            font-size: 42px;
            line-height: 57px;
         }

         p {
            @extend %sans;
            color: $secondaryDk;

            &.quote-author-name {
               font-size: 18px;
               line-height: 22px;
               text-transform: uppercase;
               margin-bottom: 10px;
               margin-top: 22px;
            }

            &.quote-author-title {
               font-size: 14px;
               line-height: 18px;
            }
         }
      }

      .right-image {
         .inner {
            padding-bottom: 100%;
            @extend %bgCover--center;
         }
      }
   }

   .single-column-content {
      .container {
         width: 86%;
         margin-left: 7%;
         margin-right: 7%;

         .inner {
            max-width: 800px;
         }
      }

      h2 {
         font-size: 45px;
         line-height: 52px;
         @extend %serif;
         margin-bottom: 22px;
      }

      h3 {
         color: $secondary;
      }

      h4 {
         @extend %sans;
         color: $darkGray;
         font-size: 24px;
         line-height: 28px;
         margin-top: 30px;
         margin-bottom: 20px;
         text-transform: uppercase;
      }

      p {
         color: $medLtGray;
         margin-bottom: 20px;

         &:last-child {
            margin-bottom: 0;
         }
      }

      img {
         float: none;
         height: auto;
      }

      ul,
      ol {
         margin-bottom: 20px;

         li {
            font-size: 20px;
            line-height: 28px;
            color: $medLtGray;
            margin-bottom: 14px;
            margin-left: 8%;
         }
      }

      ul li {
         list-style-type: disc;
      }

      ol li {
         list-style-type: decimal;
      }
   }

   .full-width-image-video {
      .video-play-btn {
         position: absolute;
         right: 30px;
         bottom: 30px;
      }
   }

   .modal {
      @extend %bgCover--center;

      .share-modal {
         text-align: center;
         color: $white;

         h3 {
            @extend %white50;
            @extend %sans;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
         }

         h1 {
            font-size: 74px;
            line-height: 84px;
            @include letSpc(1px);
         }

         .social-links {
            margin-top: 7%;
            overflow: visible;
            display: block;

            li {
               height: 32px;
               display: inline-block;
               margin: 0 20px 20px;
            }
         }
      }
   }


   // Wallpaper fields
   .wallpaper-detail {
      @extend %bgCover;
      background-attachment: fixed;
      width: 100%;
      padding-bottom: 25%;
   }

   .wallpaper-download-wrapper {
      h3 {
         text-align: center;
         color: $secondary;
      }
   }

   .wallpaper-download-links {
      .btn {
         margin: 14px;
      }
   }
}


// = = = = = = = Touch Devices = = = = = = = //
.touch {
   .single {
      .post-hero {
         position: absolute;
      }

      .wallpaper-detail {
         background-position: center center;
         background-attachment: scroll !important;
      }
   }
}



// BLOG PAGE BREAKPOINTS = = = = = = =
@media only screen and (max-width:1200px) {
   .blog,
   .single,
   .archive {
      .quote-block-section {
         .left-content {
            h4 {
               font-size: 36px;
               line-height: 52px;
               margin-bottom: 20px;
            }
         }
      }
   }
}

@media only screen and (max-width:1140px) {
   .single {
      .wallpaper-detail {
         padding-bottom: 30%;
      }
   }
}

@media only screen and (max-width:1024px) {
   .blog,
   .single,
   .archive {
      .section-heading,
      .modal .share-modal {
         h1 {
            font-size: 60px;
            line-height: 68px;
         }
      }

      .boxPadding {
         padding-right: 5%;
         padding-left: 5%;
      }

      .left-content-right-image {
         .left-content {
            h3 {
               font-size: 32px;
               line-height: 37px;
               margin-bottom: 14px;
            }

            p {
               font-size: 18px;
               line-height: 31px;
            }
         }
      }

      .quote-block-section {
         .left-content {
            h4 {
               font-size: 32px;
               line-height: 48px;
               margin-bottom: 19px;
            }
         }
      }
   }

   .single {
      .wallpaper-detail {
         padding-bottom: 34%;
      }
   }
}
@media only screen and (max-width:860px) {
   .single,
   .archive {
      .isContentArea {
         h3 {
            font-size: 32px;
            line-height: 37px;
            margin-bottom: 20px;
         }

         p {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 20px;

            &:last-child {
               margin-bottom: 0;
            }
         }

         ul,
         ol {
            li {
               font-size: 18px;
               line-height: 26px;
               margin-bottom: 13px;

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }

      .left-content-right-image {
         .left-content {
            h3 {
               font-size: 29px;
               line-height: 34px;
               margin-bottom: 10px;
            }

            p {
               font-size: 18px;
               line-height: 28px;
            }
         }
      }

      .quote-block-section {
         .left-content {
            h4 {
               font-size: 26px;
               line-height: 38px;
               margin-bottom: 18px;
            }
         }
      }
   }

   .single {
      .wallpaper-detail {
         padding-bottom: 38%;
      }
   }
}
@media only screen and (max-width:768px) {
   .blog,
   .single,
   .archive {
      .section-heading,
      .modal .share-modal {
         h1 {
            font-size: 50px;
            line-height: 58px;
            @include letSpc(3px);
         }

         .social-links {
            li {
               margin: 0 14px 20px;
            }
         }
      }
   }

   .single {
      .isContentArea {
         h2 {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 18px;
         }
      }
   }
}

@media only screen and (max-width:730px) {
   .single,
   .archive {
      .boxPadding {
         padding: 12% 7%;
      }

      .isContentArea {
         h3 {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 20px;
         }

         p {
            font-size: 17px;
            line-height: 30px;
            margin-bottom: 18px;
         }

         ul,
         ol {
            li {
               font-size: 17px;
               line-height: 25px;
               margin-bottom: 12px;

               &:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }

      .left-content-right-image,
      .quote-block-section {
         display: block;

         .left-content {
            width: 100%;

            .inner {
               position: static;
            }
         }

         .right-image {
            width: 100%;

            .inner {
               padding-bottom: 100%;
            }
         }
      }

      .quote-block-section {
         .left-content {
            h4 {
               font-size: 32px;
               line-height: 46px;
               margin-bottom: 12px;
            }

            p {
               &.quote-author-name {
                  margin-bottom: 6px;
               }
            }
         }
      }
   }

   .single {
      .wallpaper-detail {
         padding-bottom: 42%;
      }
   }
}
@media only screen and (max-width:580px) {
   .blog,
   .single,
   .archive {
      .isContentArea {
         h3 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 16px;
         }

         p {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 16px;
         }
      }

      .section-heading,
      .modal .share-modal {
         h1 {
            font-size: 40px;
            line-height: 48px;
            @include letSpc(2px);
         }

         .social-links {
            li a {
               font-size: 15px;
            }
         }
      }

      .section-heading {
         .post-meta {
            font-size: 17px;
            line-height: 24px;
         }
      }

      .quote-block-section {
         .left-content {
            h4 {
               font-size: 28px;
               line-height: 42px;
               margin-bottom: 12px;
            }
         }
      }

      .pagination {
         padding: 10px 7% 13px;

         .page-numbers {
            font-size: 16px;
         }
      }
   }

   .single {
      .isContentArea {
         h2 {
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 14px;
         }

         h4 {
            font-size: 20px;
            line-height: 24px;
            margin-top: 26px;
            margin-bottom: 16px;
         }
      }
   }

   .single,
   .archive {
      .left-content-right-image .left-content h3 {
         font-size: 24px;
         line-height: 30px;
      }
   }

   .single {
      .wallpaper-detail {
         padding-bottom: 46%;
      }
   }
}
@media only screen and (max-width:460px) {
   .blog,
   .archive {
      .hero-text {
         .btn {
            margin-top: 7%;
         }
      }

      .pagination {
         padding: 10px 7% 13px;

         .next,
         .prev {
            display: none;
         }
      }
   }

   .blog,
   .single,
   .archive {
      .section-heading,
      .modal .share-modal {
         h3 {
            font-size: 15px;
            line-height: 18px;
         }

         h1 {
            font-size: 32px;
            line-height: 40px;
            @include letSpc(2px);
         }

         .social-links {
            li {
               margin: 0 10px 12px;

               a {
                  font-size: 14px;
               }
            }
         }
      }

      .quote-block-section {
         .left-content {
            h4 {
               font-size: 24px;
               line-height: 38px;
               margin-bottom: 12px;
            }
         }
      }
   }

   .single {
      .wallpaper-detail {
         padding-bottom: 50%;
      }
   }
}
@media only screen and (max-width:400px) {
   .blog,
   .archive {
      .hero-text {
         .post-meta {
            font-size: 17px;
            line-height: 24px;
         }

         .btn {
            margin-top: 8%;
         }
      }
   }

   .blog,
   .single,
   .archive {
      .section-heading,
      .modal .share-modal {
         h1 {
            @include letSpc(1px);
         }

         .post-meta {
            font-size: 15px;
            line-height: 22px;
         }
      }
   }

   .single {
      .isContentArea {
         h2 {
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 10px;
         }

         h3 {
            font-size: 22px;
            line-height: 26px;
         }
      }
   }

   .single,
   .archive {
      .left-content-right-image .left-content h3 {
         font-size: 22px;
         line-height: 26px;
      }
   }
}
