// Case Study Archive Styles - - - - - - -

.post-type-archive-case-studies {
   article {
      @extend %bgCover--center;
   }

   .downArrow,
   .upArrow {
      right: inherit;
      left: 7%;
   }
}


// Both Case Study Archive and Single - - - - - - -
.post-type-archive-case-studies,
.single-case-studies {
   .hero {
      .hero-highlight-image {
         position: absolute;
         bottom: 0;
         right: 0;
         width: 70%;
         //height: calc(100% - 130px);
         height: 100%;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: right bottom;
      }

      .section-heading {
         max-width: 48%;
         margin-top: -100px;
      }
   }
}



// Case Study Internal Styles - - - - - - -

.single-case-studies {
   .isContentArea {
      background-color: $white;
      position: relative;
      z-index: 0;
   }

   &.popPrimary {
      .clrPop {
         color: $white;
      }

      .downArrow,
      .divWave {
         background-position-y: 0;
      }
   }

   .header-wrapper {
      position: absolute;
      top: 0;
   }

   .hero {
      z-index: 0;

      .colorOverlay {
         @extend %absFill;
         z-index: 1;
      }

      .hero-background-image {
         @extend %absFill;
         @extend %bgCover--bottom;
         background-size: contain;
         z-index: 0;
      }

      .section-heading {
         h1 {
            padding-bottom: 58px;
         }
      }
   }


   // Flexible Content Areas - - - - - - -
   .narrow-centered-content {
      .container {
         text-align: center;
         max-width: 700px;
      }

      h2 {
         @extend %serif;
         font-size: 50px;
         line-height: 60px;
         margin-bottom: 22px;
      }

      p {
         font-size: 18px;
         line-height: 28px;
      }
   }

   // Image Gallery - - -
   .img-gal {
      .container {
         width: 90%;
         max-width: 1200px;
         margin-bottom: 20px;
      }
   }

   .img-gal-halves {
      font-size: 0;

      .left-half-image,
      .right-half-image {
         font-size: 18px;
         width: calc(50% - 10px);
         display: inline-block;
         overflow: hidden;
      }

      .right-half-image {
         margin-left: 20px;
      }
   }

   .img-gal-60-40 {
      font-size: 0;

      .left-60-image,
      .right-40-image {
         font-size: 18px;
         display: inline-block;
         vertical-align: top;
         overflow: hidden;
      }

      .left-60-image {
         width: calc(59% - 10px);
      }

      .right-40-image {
         width: calc(41% - 10px);
         margin-left: 20px;
      }
   }

   .img-gal-left-big-right-2stack,
   .img-gal-left-2stack-right-big {
      font-size: 0;

      .image {
         @extend %bgCover--center;
      }

      .left-big-image,
      .right-big-image {
         display: inline-block;
         width: calc(50% - 10px);
         overflow: hidden;

         .image {
            padding-bottom: 100%;
         }
      }

      .right-2stack-images,
      .left-2stack-images {
         display: inline-block;
         width: calc(50% - 10px);
         overflow: hidden;

         .image {
            padding-bottom: calc(50% - 10px);
            display: block;

            &:first-child {
               margin-bottom: 20px;
            }
         }
      }
      .right-2stack-images {
         margin-left: 20px;
      }
      .left-2stack-images {
         margin-right: 20px;
      }
   }

   // Feature Highlight Slider - - -
   .feature-highlight-slider-wrapper,
   .second-feature-highlight-slider-wrapper {
      position: relative;

      .bx-controls {
         position: absolute;
         bottom: 5%;
         width: 100%;
         z-index: 55;

         .bx-pager {
            bottom: inherit;
         }
      }

      .bx-wrapper .bx-controls .bx-pager.bx-default-pager {
         text-align: left;
         padding-left: 5%;
      }
   }

   .feature-highlight-slider,
   .second-feature-highlight-slider {
      @extend %clear;
      height: 100%;

      .slide-text {
         padding-left: 5%;
         padding-right: 5%;
         color: $white;

         h3 {
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 18px;
         }

         p {
            font-size: 18px;
            line-height: 30px;
         }
      }

      .slide-image {
         max-height: 800px;
         margin-top: 5%;
      }
   }

   // Text/Image Combo Layouts
   .img-gal-intro-text,
   .full-width-image-centered-text {
      .text-wrapper {
         margin: 0 auto 5%;
         text-align: center;
         max-width: 700px;
      }

      h3 {
         font-size: 25px;
         line-height: 30px;
         text-transform: uppercase;
      }

      p {
         font-size: 18px;
         line-height: 30px;
      }
   }

   .full-width-image-centered-text {
      position: relative;
      padding-bottom: 42%;
      overflow: hidden;
      @extend %bgCover--center;

      .container,
      .fw-img {
         position: relative;
         z-index: 1;
      }

      .fw-img {
         //display: block !important;
         z-index: 2;
         position: absolute;
      }
   }


   .prev-cs {
      .section-heading {
         margin-top: -100px;
      }
   }


   // Tools Used
   .tools-used-wrapper {
      .container {
         max-width: 1300px;
      }
   }

   .tools-used-text {
      .text-wrapper {
         margin: 0 auto 30px;
         text-align: center;
         max-width: 560px;
         background: transparent;
      }

      h3 {
         font-size: 25px;
         line-height: 30px;
         text-transform: uppercase;
      }

      p {
         font-size: 18px;
         line-height: 30px;
      }
   }

   .tool-pager {
      margin-bottom: 36px;

      a {
         display: inline-block;
         margin: 0 12px;
         opacity: .4;
         @extend %hoverTrans;

         &.active,
         &:hover {
            opacity: 1;
         }
      }

      .tool-icon {
         display: block;

         &.isSketch {
            width: 43px;
            height: 38px;
            background-image: url(../img/icons/tool-used-sketch.png);
            background-size: 43px 38px;
         }

         &.isPhotoshop {
            width: 39px;
            height: 38px;
            background-image: url(../img/icons/tool-used-photoshop.png);
            background-size: 39px 38px;
         }

         &.isIllustrator {
            width: 39px;
            height: 38px;
            background-image: url(../img/icons/tool-used-illustrator.png);
            background-size: 39px 38px;
         }

         &.isInvision {
            width: 99px;
            height: 34px;
            background-image: url(../img/icons/tool-used-invision.png);
            background-size: 99px 34px;
         }

         &.isSublime {
            width: 41px;
            height: 37px;
            background-image: url(../img/icons/tool-used-sublime.png);
            background-size: 41px 37px;
         }
      }
   }

   .tools-used-images {
      .tool-image {
         @extend %bgCover;
         padding-bottom: 39.38%;
      }
   }
}


// Individual Custom Case Study Styles - - - - - - -
.weatherbug {
   .prev-page-cta {
      background-position: center right;
   }

   &.single-case-studies {
      .feature-highlight-slider,
      .second-feature-highlight-slider {
         .hasPhoneImage {
            @extend .well--noBottom;

            .slide-text {
               &.span_5_of_12 {
                  width: 48%;
               }
            }

            .slide-image {
               &.span_7_of_12 {
                  width: 48%;
               }

               img {
                  max-width: 340px;
                  display: block;
                  margin: 0 auto;
               }
            }
         }
         .hasDisplayImage {
            .slide-image {
               // default to large image with top & bottom margin
            }
         }
      }
   }

   .weather-icons-wrapper {
      @extend %hoverTrans;

      .container {
         max-width: 1000px;
      }

      .text-wrapper {
         text-align: center;
         color: $white;
         margin: 0 auto 24px;
         max-width: 700px;

         h3 {
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            @extend %sans;
            margin-bottom: 16px;
         }

         p {
            font-size: 18px;
            line-height: 30px;
         }
      }

      .day-night-toggle {
         width: 32px;
         height: 32px;
         background-image: url(../img/icons/wb-day-night-toggle.png);
         background-size: 32px 32px;
         display: block;
         margin: 0 auto;
      }

      .icons-wrapper {
         width: 100%;

         .icon-chunk {
            position: relative;
         }

         .icons-img-day,
         .icons-img-night {
            @extend %absFill;
            @extend %bgCover;
         }

         .icon-chunk-mobile {
            padding-bottom: 50%;

            .icons-img-day,
            .icons-img-night {
               background-image: url(../img/icons/wb-day-night-mobile.png);
               background-size: cover;
               background-repeat: no-repeat;
               @extend %hoverTrans;
            }

            .icons-img-day {
               background-position: 0 0;
            }

            .icons-img-night {
               background-position-x: 0;
               background-position-y: top;
               opacity: 0;
            }
         }
         .icon-chunk-tablet {
            padding-bottom: 50%;

            .icons-img-day,
            .icons-img-night {
               background-image: url(../img/icons/wb-day-night-tablet.png);
               background-size: cover;
               background-repeat: no-repeat;
               @extend %hoverTrans;
            }

            .icons-img-day {
               background-position: 0 0;
            }

            .icons-img-night {
               background-position-x: 0;
               background-position-y: top;
               opacity: 0;
            }
         }
         .icon-chunk-desktop {
            padding-bottom: 50%;

            .icons-img-day,
            .icons-img-night {
               background-image: url(../img/icons/wb-day-night-desktop.png);
               background-size: cover;
               background-repeat: no-repeat;
               @extend %hoverTrans;
            }

            .icons-img-day {
               background-position: 0 0;
            }

            .icons-img-night {
               background-position-x: 0;
               background-position-y: top;
               opacity: 0;
            }
         }
      }

      &.isDayTime {
         background-color: #2e98e3;
      }

      &.isNightTime {
         background-color: #113C62;

         .day-night-toggle {
            background-color: $test;
         }

         .icons-wrapper {
            .icon-chunk-mobile,
            .icon-chunk-tablet {
               .icons-img-day {
                  opacity: 0;
               }
               .icons-img-night {
                  opacity: 1;
               }
            }

            .icon-chunk-desktop {
               .icons-img-day {
                  opacity: 0;
               }
               .icons-img-night {
                  opacity: 1;
               }
            }
         }
      }
   }
}
@media only screen and (max-width:900px) {
   .weatherbug {
      &.single-case-studies {
         .feature-highlight-slider,
         .second-feature-highlight-slider {
            .hasPhoneImage {
               .slide-text {
                  &.span_5_of_12 {
                     width: 100%;
                  }
               }

               .slide-image {
                  &.span_7_of_12 {
                     width: 100%;
                     margin-left: 0;
                  }
               }
            }
         }
      }
   }
}
@media only screen and (max-width:768px) {
   .weatherbug {
      .weather-icons-wrapper {
         .icons-wrapper {
            max-width: 500px;
            margin: 0 auto;

            .icon-chunk-mobile,
            .icon-chunk-tablet {
               width: 50%;
               padding-bottom: 100%;
            }

            .icon-chunk-desktop {
               display: none;
            }
         }
      }
   }
}
@media only screen and (max-width:400px) {
   .weatherbug {
      .weather-icons-wrapper {
         .icons-wrapper {
            max-width: 250px;

            .icon-chunk-mobile {
               width: 100%;
               padding-bottom: 200%;
            }

            .icon-chunk-tablet,
            .icon-chunk-desktop {
               display: none;
            }
         }
      }
   }
}





// CASE STUDIES BREAKPOINTS = = = = = = =
// @media only screen and (max-width:1400px) {
//    .single.single-case-studies {
//       .hero {
//          .section-heading {
//             h1 {
//                font-size: 62px;
//                line-height: 70px;
//                @include letSpc(3px);
//             }
//          }
//       }
//    }
// }

// @media only screen and (max-width:1140px) {
//    .single.single-case-studies {
//       .hero {
//          .section-heading {
//             h1 {
//                font-size: 54px;
//                line-height: 62px;
//             }
//          }
//       }
//    }
// }

// @media only screen and (max-width:980px) {
//    .single.single-case-studies {
//       .hero {
//          .section-heading {
//             h1 {
//                font-size: 46px;
//                line-height: 54px;
//                @include letSpc(2px);
//             }
//          }
//       }
//    }
// }


@media only screen and (max-width:900px) {
   .single.single-case-studies {
      .feature-highlight-slider,
      .second-feature-highlight-slider {
         .slide-text,
         .slide-image {
            width: 100%;
            display: block;
            position: relative;
         }

         .slide-text {
            top: 0;
            margin-bottom: 5%;
            margin-top: 80px;
            //padding-top: 30px;
         }

         .slide-image {
            width: 95%;
            margin-left: 5%;
         }
      }

      .feature-highlight-slider-wrapper,
      .second-feature-highlight-slider-wrapper {
         .bx-wrapper .bx-controls {
            top: 3%;
            bottom: inherit;
         }
      }
   }

   .single-case-studies {
      .narrow-centered-content {
         h2 {
            font-size: 42px;
            line-height: 52px;
            margin-bottom: 20px;
         }
      }
   }
}

@media only screen and (max-width:768px) {
   // .single.single-case-studies {
   //    .hero {
   //       overflow: hidden;

   //       .hero-highlight-image {
   //          width: 90%;
   //          position: relative;
   //          margin: 5% 5% 0;
   //       }

   //       .section-heading {
   //          max-width: 100%;
   //          display: block;
   //          position: relative;
   //          top: 0 !important;
   //          margin-left: 0;
   //          margin-top: 110px;
   //          padding-right: 0;
   //          padding: 0 5%;
   //          text-align: center;

   //          .divWave {
   //             margin-right: auto;
   //             margin-left: auto;
   //          }

   //          h1 {
   //             font-size: 50px;
   //             line-height: 56px;
   //             @include letSpc(3px);
   //          }
   //       }
   //    }
   // }

   .single-case-studies {
      .img-gal {
         .container {
            width: 95%;
            margin-bottom: 10px;
         }
      }

      .img-gal-halves {
         .left-half-image,
         .right-half-image {
            width: calc(50% - 5px);
         }

         .right-half-image {
            margin-left: 10px;
         }
      }

      .img-gal-60-40 {
         .left-60-image {
            width: calc(59% - 5px);
         }

         .right-40-image {
            width: calc(41% - 5px);
            margin-left: 10px;
         }
      }

      .img-gal-left-big-right-2stack,
      .img-gal-left-2stack-right-big {
         .left-big-image,
         .right-big-image {
            width: calc(50% - 5px);
         }
         .right-2stack-images,
         .left-2stack-images {
            width: calc(50% - 5px);

            .image {
               padding-bottom: calc(50% - 5px);

               &:first-child {
                  margin-bottom: 10px;
               }
            }
         }
         .right-2stack-images {
            margin-left: 10px;
         }
         .left-2stack-images {
            margin-right: 10px;
         }
      }
   }
}

@media only screen and (max-width:650px) {
   // .single.single-case-studies {
   //    .hero {
   //       .section-heading {
   //          margin-top: 90px;

   //          h1 {
   //             font-size: 38px;
   //             line-height: 44px;
   //             @include letSpc(2px);
   //          }
   //       }
   //    }
   // }

   .single-case-studies {
      .narrow-centered-content {
         h2 {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 18px;
         }

         p {
            font-size: 17px;
            line-height: 26px;
         }
      }
   }
}

@media only screen and (max-width:580px) {
   .single.single-case-studies {
      .feature-highlight-slider,
      .second-feature-highlight-slider {
         .slide-text {
            h3 {
               font-size: 22px;
               line-height: 27px;
            }

            p {
               font-size: 16px;
               line-height: 27px;
            }
         }
      }
   }

   .single-case-studies {
      .full-width-image-centered-text,
      .img-gal-intro-text,
      .tools-used-text {
         .text-wrapper {
            h3 {
               font-size: 22px;
               line-height: 27px;
            }

            p {
               font-size: 16px;
               line-height: 27px;
            }
         }
      }

      .img-gal {
         .container {
            margin-bottom: 0;
         }
      }

      .img-gal-full-width {
         margin-bottom: 10px;
      }

      .img-gal-halves {
         .left-half-image,
         .right-half-image {
            width: 100%;
            margin-bottom: 10px;
         }

         .right-half-image {
            margin-left: 0;
         }
      }

      .img-gal-60-40 {
         .left-60-image,
         .right-40-image {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
         }
      }

      .img-gal-left-big-right-2stack,
      .img-gal-left-2stack-right-big {
         .left-big-image,
         .right-big-image {
            width: 100%;
            margin-bottom: 10px;
         }
         .right-2stack-images,
         .left-2stack-images {
            width: 100%;
            margin-bottom: 10px;

            .image {
               padding-bottom: 50%;

               &:first-child {
                  margin-bottom: 10px;
               }
            }
         }
         .right-2stack-images {
            margin-left: 0;
         }
         .left-2stack-images {
            margin-right: 0;
         }
      }
   }
}

@media only screen and (max-width:500px) {
   // .single.single-case-studies {
   //    .hero {
   //       .section-heading {
   //          h1 {
   //             font-size: 32px;
   //             line-height: 38px;
   //             @include letSpc(1px);
   //          }
   //       }
   //    }
   // }

   .single-case-studies {
      .narrow-centered-content {
         h2 {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 16px;
         }

         p {
            font-size: 16px;
            line-height: 25px;
         }
      }
   }
}

@media only screen and (max-width:400px) {
   .single.single-case-studies {
      .hero {
         .section-heading {
            h1 {
               font-size: 28px;
               line-height: 34px;
            }
         }
      }
   }

   .single-case-studies {
      .narrow-centered-content {
         h2 {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 15px;
         }
      }
   }
}