.sticky {
   position: fixed;
   top: 0;
}

.vAlign {
   position: relative;
   visibility: hidden; /* <- needed to hide flash of non vertical aligned content before complete page load. */

   &.vAlign-abs {
      position: absolute;
      visibility: hidden; /* <- needed to hide flash of non vertical aligned content before complete page load. */
   }
}

// fix for *flash* of animated elements before animation happens.
.wow {
   opacity: 0;
}

.section {
   @extend %clear;
}


// * Note: MENU styles are in _menu.scss


.divWave {
   display: block;
   width: 42px;
   height: 8px;
   background-image: url(../img/icons/divWave-sprite.png);
   background-position: left top;
   margin: 20px 0;
}


.hoverZoomFade {
   background-color: $darkGray;
   position: relative;
   overflow: hidden;

   &:before {
      content: "";
      display: block;
      @extend %absFill;
      background-color: rgba($darkDkGray, 0);
      transition: all .5s linear;
      z-index: 2;
   }

   &.linkHovered {
      &:before {
         background-color: rgba($darkGray, .5);
      }
   }

   .background-image {
      background-size: cover;
      background-position: center center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: all 1000ms linear;
   }

   &.boxHovered {
      .background-image {
         transform: matrix(1.15, 0, 0, 1.15, 0, 0);
         transition: all 9000ms linear;
      }
   }

   .inner {
      z-index: 3;
   }
}

.section-heading {
   margin-left: 7%;
   margin-top: 12%;
   margin-bottom: 6%;
   padding-right: 5%;

   &.intro-section {
      margin-top: 16%;
      margin-bottom: 9%;
   }

   h1 {
      @extend %sans;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      @include letSpc(2px);
   }

   h3 {
      font-size: 70px;
      line-height: 78px;
      @include letSpc(5px);
   }
}

.hero {
   @extend .wrapper;
   position: relative;

   .hero-text {
      margin-left: 7%;
   }

   .section-heading {
      margin-top: 0;
      margin-bottom: 0;
   }
}

.big-cta {
   @extend %clear;
}

.next-page-cta {
   .section-heading {
      margin-top: 0;
      margin-bottom: 0;
   }

   .clrPop {
      color: $white !important;
   }

   .divWave {
      background-position-y: 0px !important;
   }

   .btn--uline {
      margin-top: 50px;
   }
}

.isDarkGray {
   color: $white;
   background-color: $darkGray;
}

.isWhite {
   background-color: $white;
}

.isPrimary {
   color: $white;
   background-color: $primary;
}

.isSecondary {
   color: $white;
   background-color: $secondary;
}

.isTertiary {
   color: $white;
   background-color: $tertiary;
}

.isQuaternary {
   color: $white;
   background-color: $quaternary;
}


.popPrimary {
   .clrPop {
      color: $primary;
   }

   .downArrow,
   .divWave {
      background-position-y: -50px;
   }
}
.popSecondary {
   .clrPop {
      color: $secondary;
   }

   .downArrow,
   .divWave {
      background-position-y: -100px;
   }
}
.popTertiary {
   .clrPop {
      color: $tertiary;
   }

   .downArrow,
   .divWave {
      background-position-y: -150px;
   }
}
.popQuaternary {
   .clrPop {
      color: $quaternary;
   }

   .downArrow,
   .divWave {
      background-position-y: -200px;
   }
}


// flexbox - - - - - - -
// via: http://codepen.io/imohkay/pen/gpard
.flexWrap {
   display: flex;
   flex-wrap: wrap;

   &:before,
   &:after {
      display: none;
   }
}


// "card" elements - - - - - - -
.number-cards {
   .card-number {
      font-size: 30px;
      line-height: 32px;
      display: block;
      margin-bottom: 16px;
   }

   .card-title {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 16px;
   }

   .card-text {
      font-size: 18px;
      line-height: 28px;
   }

   .card {
      margin-left: 0;
      border-bottom: 1px solid $lightGray;
      padding: 6% 10%;

      &:nth-child(even) {
         border-left: 1px solid $lightGray;
      }

      &:nth-child(-n+2) {
         border-top: 1px solid $lightGray;
      }
   }
}



// misc font styles
.italic {
   @extend %serifIt;
}

.sansUpperSpc {
   @extend %sans;
   @include letSpc(1px);
   text-transform: uppercase;
}

.sansBUpperSpc {
   @extend .sansUpperSpc;
   @extend %sansB;
}



// COMMON BREAKPOINTS = = = = = = =
@media only screen and (max-width:1140px) {
   .number-cards {
      .card {
         padding: 6%;
      }
   }
}

@media only screen and (max-width:1024px) {
   .divWave {
      margin: 20px 0 16px;
   }

   .section-heading {
      margin-top: 15%;
      margin-bottom: 9%;

      &.intro-section {
         margin-top: 19%;
         margin-bottom: 12%;
      }

      h3 {
         font-size: 60px;
         line-height: 68px;
      }
   }
}

@media only screen and (max-width:768px) {
   .section-heading {
      margin-top: 17%;
      margin-bottom: 11%;

      &.intro-section {
         margin-top: 21%;
         margin-bottom: 14%;
      }

      h3 {
         font-size: 50px;
         line-height: 58px;
         @include letSpc(4px);
      }
   }

   .number-cards {
      .col {
         width: 100%;
      }

      .card {
         margin-left: 0;
         border-bottom: 1px solid $lightGray;
         padding: 6% 7%;

         &:nth-child(even) {
            border-left: none;
         }

         &:nth-child(-n+2) {
            border-top: none;
         }

         &:first-child {
            border-top: 1px solid $lightGray;
         }
      }
   }
}

@media only screen and (max-width:580px) {
   .section-heading {
      margin-top: 21%;
      margin-bottom: 14%;

      &.intro-section {
         margin-top: 25%;
         margin-bottom: 15%;
      }

      h3 {
         font-size: 40px;
         line-height: 48px;
         @include letSpc(3px);
      }
   }

   .number-cards {
      .card-number {
         font-size: 24px;
         line-height: 28px;
         margin-bottom: 12px;
      }

      .card-title {
         font-size: 22px;
         line-height: 27px;
         margin-bottom: 8px;
      }

      .card-text {
         font-size: 17px;
         line-height: 27px;
      }
   }
}

@media only screen and (max-width:460px) {
   .section-heading {
      &.intro-section {
         margin-top: 25%;
         margin-bottom: 16%;
      }

      h1 {
         font-size: 15px;
         line-height: 18px;
      }

      h3 {
         font-size: 32px;
         line-height: 40px;
         @include letSpc(3px);
      }
   }

   .number-cards {
      .card-title {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 8px;
      }
   }
}

@media only screen and (max-width:400px) {
   .section-heading {
      margin-top: 25%;
      margin-bottom: 17%;

      h3 {
         font-size: 28px;
         line-height: 34px;
         @include letSpc(2px);
      }
   }
}
