// * note: Contact page doesn't really have content.  Content is in the "hero" in the 'header.php' file.

.hero-text {
   h4 {
      @extend %sans;
      font-size: 22px;
      line-height: 27px;
      margin: 3% 0 4%;

      a {
         color: $white;
         @extend %hoverTrans;

         &.phone {
            cursor: default;

            &:hover {
               opacity: 1;
            }
         }

         &:hover {
            @extend %hoverFade;
         }
      }
   }
}

// CONTACT PAGE BREAKPOINTS = = = = = = =

@media only screen and (max-width:560px) {
   .hero-text {
      h4 {
         font-size: 20px;
         line-height: 25px;
         margin: 5% 0 6%;
      }
   }
}

@media only screen and (max-width:460px) {
   .hero-text {
      h4 {
         font-size: 18px;
         line-height: 23px;
         margin: 6% 0;
      }
   }
}

@media only screen and (max-width:400px) {
   .hero-text {
      h4 {
         font-size: 16px;
         line-height: 21px;
         margin: 7% 0;
      }
   }
}