.crew-members {
   .crew-member {
      padding-bottom: 33.3%;
      @extend %bgCover--center;
      position: relative;

      .crew-text {
         position: absolute;
         z-index: 1;
         bottom: 5%;
         left: 6%;
         color: $white;

         h3 {
            @extend %sansB;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
         }

         h4 {
            font-size: 15px;
            line-height: 28px;
         }
      }
   }
}

.media-boxes {
   overflow: hidden;

   .full-width-image {
      width: 100%;

      img {
         width: 100%;
         height: auto;
      }
   }

   .card--sq {
      padding-bottom: 100%;
      @extend %bgCover--center;
   }

   .stat-slider-wrapper,
   .quote-slider-wrapper {
      position: relative;
      padding-bottom: 100%;

      .bx-wrapper {
         position: absolute;
         width: 100%;
         height: 100%;

         .bx-viewport {
            margin-top: 50% !important;
            transform: translateY(-50%);
         }

         .bx-pager,
         .bx-controls-auto {
           position: absolute;
           bottom: 10%;
           width: 100%;
           z-index: 2;
         }
      }
   }

   .next-slide {
      content: "";
      @extend %absFill;
      z-index: 1;

      a {
         @extend %linkblock;

         &.disabled {
            cursor: default;
            pointer-events: none;
         }
      }
   }

   .stat-slider,
   .quote-slider {
      text-align: center;

      .slide {
         padding: 0 5% 5%;
      }

      .slide-icon {
         width: 70px;
         height: 70px;
         display: block;
         margin: 0 auto;
         background-position: left top;
      }
   }

   .stat-slider {
      .slide-icon {
         background-image: url('../img/icons/statIcon-sprite.png');
      }
      h3 {
         font-size: 55px;
         line-height: 60px;
         margin-top: 3%;
         margin-bottom: 5%;
      }

      p {
         font-size: 20px;
         line-height: 24px;
         @extend .sansUpperSpc;
      }
   }

   .quote-slider {
      .slide-icon {
         background-image: url('../img/icons/quoteIcon-sprite.png');
      }
      p.quote-text {
         font-size: 26px;
         line-height: 33px;
         @extend %sans;
         margin: 5% 0 5%;
      }

      p.quote-author {
         font-size: 20px;
         line-height: 24px;
      }
   }
}

.culture,
.home {
   .media-boxes {
      .stat-slider {
         .slide-icon {
            background-position-y: 0;
         }
      }

      .quote-slider {
         .slide-icon {
            background-position-y: 0;
         }
      }
   }
}

.strategy {
   .media-boxes {
      .stat-slider {
         .slide-icon {
            background-position-y: -200px;
         }
      }

      .quote-slider {
         .slide-icon {
            background-position-y: -200px;
         }
      }
   }
}

.latest-post,
.featured-case-study {
   text-align: center;
   position: relative;

   &.hoverZoomFade {
      &:before {
         background-color: rgba($darkGray, .55);
      }

      &.linkHovered {
         &:before {
            background-color: rgba($darkGray, .8);
         }
      }
   }

   .inner {
      padding: 0 4%;
      width: 100%;
   }

   h3 {
      @extend .sansUpperSpc;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 2%;

      &.clrPop {
         color: $primary;
      }
   }

   .post-title,
   .case-study-title {
      h2 {
         color: $white;
         font-size: 55px;
         line-height: 64px;
         margin-bottom: 24px;
      }
   }
}




// CULTURE / STRATEGY BREAKPOINTS = = = = = = =

@media only screen and (max-width:1140px) {
   .media-boxes {
      .stat-slider {
         .slide {
           padding: 0 5% 5%;
         }

         h3 {
            font-size: 45px;
            line-height: 50px;
            margin-top: 2.75%;
            margin-bottom: 4.75%;
         }

         p {
            font-size: 18px;
            line-height: 22px;
         }
      }

      .quote-slider {
         p.quote-text {
            font-size: 22px;
            line-height: 30px;
            margin: 5% 0 5%;
         }
      }
   }

   .latest-post,
   .featured-case-study {
      .post-title,
      .case-study-title {
         h2 {
            font-size: 50px;
            line-height: 58px;
         }
      }
   }
}

@media only screen and (max-width:1024px) {
   .media-boxes {
      .quote-slider {
         p.quote-text {
            font-size: 20px;
            line-height: 28px;
            margin: 4% 0 4%;
         }

         p.quote-author {
            font-size: 19px;
            line-height: 23px;
         }
      }
   }
}

@media only screen and (max-width:960px) {
   .crew-members {
      .crew-member {
         padding-bottom: 50%;
      }

      .span_4_of_12 {
         width: 50%;
      }
   }

   .media-boxes {
      .stat-slider {
         h3 {
            font-size: 35px;
            line-height: 40px;
            margin-top: 2.5%;
            margin-bottom: 4.5%;
         }

         p {
            font-size: 16px;
            line-height: 20px;
         }
      }

      .stat-slider-wrapper,
      .quote-slider-wrapper {
         .bx-wrapper .bx-pager {
            bottom: 7%;
         }
      }
   }

   .latest-post,
   .featured-case-study {
      .post-title,
      .case-study-title {
         h2 {
            font-size: 42px;
            line-height: 50px;
         }
      }
   }
}

@media only screen and (max-width:900px) {
   .media-boxes {
      .quote-slider {
         p.quote-text {
            font-size: 18px;
            line-height: 23px;
            margin: 4% 0 4%;
         }

         p.quote-author {
            font-size: 17px;
            line-height: 20px;
         }
      }
   }
}

@media only screen and (max-width:768px) {
   .stat-slider-lg-sq-sm-sq,
   .quote-slider-sm-sq {
      .span_4_of_12,
      .span_8_of_12 {
         width: 100%;
      }

      .span_4_of_12 {
         .card--sq {
            width: 50%;
         }
      }

      .span_8_of_12 {
         .card--sq {
            width: 100%;
            padding-bottom: 100%;
         }
      }

      .stat-slider-wrapper,
      .quote-slider-wrapper {
         width: 50%;
         padding-bottom: 50%;
         display: inline-block;

         .slide {
            width: 100%;
         }
      }

      .stat-slider-wrapper {
         float: right;
      }
   }

   .media-boxes .sm-sq {
      padding-bottom: 50%;
      display: inline-block;
   }
}

@media only screen and (max-width:550px) {
   .stat-slider-lg-sq-sm-sq,
   .quote-slider-sm-sq {
      .span_4_of_12 {
         .card--sq {
            width: 100%;
         }
      }

      .stat-slider-wrapper,
      .quote-slider-wrapper {
         width: 100%;
         padding-bottom: 100%;
         display: block;
      }

      .stat-slider-wrapper {
         float: none;
      }
   }

   .media-boxes {
      .stat-slider {
         h3 {
            font-size: 55px;
            line-height: 60px;
            margin-top: 3%;
            margin-bottom: 5%;
         }

         p {
            font-size: 20px;
            line-height: 24px;
         }
      }

      .quote-slider {
         p.quote-text {
            font-size: 26px;
            line-height: 33px;
            margin: 5% 0 5%;
         }

         p.quote-author {
            font-size: 20px;
            line-height: 24px;
         }
      }

      .card--sq {
         padding-bottom: 100%;
         display: block;
      }
   }

   .latest-post,
   .featured-case-study {
      .post-title,
      .case-study-title {
         h2 {
            font-size: 36px;
            line-height: 42px;
         }
      }
   }
}

@media only screen and (max-width:500px) {
   .crew-members {
      .crew-member {
         padding-bottom: 100%;
      }

      .span_4_of_12 {
         width: 100%;
      }
   }
}

@media only screen and (max-width:450px) {
   .media-boxes {
      .stat-slider {
         h3 {
            font-size: 45px;
            line-height: 50px;
            margin-top: 2.75%;
            margin-bottom: 4.75%;
         }

         p {
            font-size: 18px;
            line-height: 22px;
         }
      }

      .quote-slider {
         p.quote-text {
            font-size: 22px;
            line-height: 29px;
            margin: 4% 0 4%;
         }

         p.quote-author {
            font-size: 18px;
            line-height: 22px;
         }
      }
   }

   .latest-post,
   .featured-case-study {
      .post-title,
      .case-study-title {
         h2 {
            font-size: 30px;
            line-height: 36px;
         }
      }
   }
}

@media only screen and (max-width:390px) {
   .media-boxes {
      .stat-slider {
         h3 {
            font-size: 35px;
            line-height: 40px;
            margin-top: 2.5%;
            margin-bottom: 4.5%;
         }

         p {
            font-size: 16px;
            line-height: 20px;
         }
      }
   }
}