.single-project-proposals {
   &.single {
      .section-heading {
         margin-left: 7%;
         padding-right: 5%;
         max-width: 1000px;
         z-index: 0;

         &.intro-section {
            margin-top: 16%;
            margin-bottom: 9%;
         }

         h1 {
            color: $primary;
            @extend %sans;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            @include letSpc(2px);
         }

         h3 {
            font-size: 70px;
            line-height: 78px;
            @include letSpc(3px);
            @extend %serif;
            text-transform: none;

            a {
               color: $white;
               @extend %hoverTrans;

               &:hover {
                  @extend %hoverFade;
               }
            }
         }
      }
   }

   .proposal-item-list {
      &.number-cards {
         .card {
            border-left: 0;

            &:last-child {
               border-bottom: 0;
            }
         }

         .proposal-item.card {
            .inner {
               padding-top: 70px;
               padding-bottom: 70px;
            }
         }
      }

      h4 {
         margin-top: 0;
      }

      p,
      ul,
      ol {
         margin-bottom: 18px;

         &:last-child {
            margin-bottom: 0;
         }
      }

      ul,
      ol {
         li {
            margin-bottom: 12px;
            margin-left: 22px;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }

      ul {
         li {
            list-style-type: disc;
         }
      }

      ol {
         li {
            list-style-type: decimal;
         }
      }
   }

   .left-content-right-image {
      .left-content {
         h3 {
            color: $white;
         }

         p {
            color: $white;
         }
      }

      .right-image {
         .inner {
            padding-bottom: 100%;
            @extend %bgCover--center;
         }
      }
   }

   #project-proposal-password-screen {
      color: $white;
      text-align: center;

      .step-heading {
         text-align: center;
         margin-bottom: 4%;

         h3 {
            color: $primary;
            @extend %white50;
            @extend %sans;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 10px;
            @include letSpc(2px);
         }

         h2 {
            font-size: 74px;
            line-height: 80px;
         }
      }

      .password-form {
         max-width: 600px;
         margin: 0 auto;
      }

      form {
         p {
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 20px;
         }

         label {
            display: none;
         }

         input[type=password] {
            width: 400px !important;
            display: block;
            margin: 0 auto;
            color: $white;
            font-size: 30px;
            line-height: 24px;
            font-family: $sans;
            text-align: center;
            letter-spacing: 3px;
            border-radius: 0;
            border: none;
            border-bottom: 2px solid rgba($white, .5);
            padding: 6px 0;
            background-color: transparent;
            text-transform: uppercase;
            @extend %hoverTrans;

            &:hover {
               border-color: rgba($white, .9);
            }

            &:focus {
               outline: none;
               border-color: $primary;
            }

            &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
               font-size: 17px;
               line-height: 22px;
               padding-top: 8px;
            }

            &:-moz-placeholder { /* Firefox 18- */
               font-size: 17px;
               line-height: 22px;
               padding-top: 8px;
            }

            &::-moz-placeholder { /* Firefox 19+ */
               font-size: 17px;
               line-height: 22px;
               padding-top: 8px;
            }

            &:-ms-input-placeholder { /* IE 10+ */
               font-size: 17px;
               line-height: 22px;
               padding-top: 8px;
            }

            &::-ms-input-placeholder { /* Edge */
               font-size: 17px;
               line-height: 22px;
               padding-top: 8px;
            }
         }

         .submit-button {
            width: 178px;
            margin: 10% auto 0;
            display: inline-block;

            input[type=submit] {
               width: 100%;
               margin: 0 auto 6px;
               display: inline-block;
               border: none;
               background-color: transparent;
            }
            .span-after {
               content: '';
               position: relative;
               display: block;
               margin: 0 auto -4px;
               height: 2px;
               width: 100%;
               background-color: $white;
               transition: width .5s ease, background-color .5s ease;
            }

            &:hover {
               color: $white;

               .span-after {
                  width: 0%;
                  background: transparent;
               }
            }
         }
      }
   }


   // Flexible Content Areas - - - - - - -
   .divider-centered-content {
      .container {
         text-align: center;
         max-width: 700px;
      }

      p {
         font-size: 24px;
         line-height: 35px;
      }
   }

   .left-content-right-image {
      .left-content {
         background-color: $darkGray;
      }
   }

   .single-column-content {
      h3 {
         color: $primary;
      }
   }
}






@media only screen and (max-width:1140px) {
   .single-project-proposals #project-proposal-password-screen {
      .step-heading {
         h2 {
            font-size: 66px;
            line-height: 72px;
         }
      }

      .gform_body {
         max-width: 86%;
      }
   }

   .single-project-proposals {
      .proposal-item-list {
         &.number-cards {
            .proposal-item.card {
               .inner {
                  padding-top: 55px;
                  padding-bottom: 55px;
               }
            }
         }
      }
   }
}

@media only screen and (max-width:1024px) {
   .single-project-proposals {
      &.single {
         .section-heading {
            &.intro-section {
               margin-top: 19%;
               margin-bottom: 12%;
            }

            h3 {
               font-size: 60px;
               line-height: 68px;
            }
         }
      }
   }
}

@media only screen and (max-width:900px) {
   .single-project-proposals #project-proposal-password-screen {
      .step-heading {
         h3 {
            margin-bottom: 8px;
         }

         h2 {
            font-size: 56px;
            line-height: 62px;
         }
      }

      form {
         p {
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 20px;
         }
      }
   }

   .single-project-proposals {
      .proposal-item-list {
         &.number-cards {
            .proposal-item.card {
               .inner {
                  padding-top: 50px;
                  padding-bottom: 50px;
               }
            }
            .proposal-total.card {
               .inner {
                  padding-top: 95px;
                  padding-bottom: 95px;
               }
            }
         }
      }

      .divider-centered-content {
         .container {
            max-width: 640px;
         }

         p {
            font-size: 20px;
            line-height: 32px;
         }
      }
   }
}

@media only screen and (max-width:768px) {
   .single-project-proposals {
      &.single {
         .section-heading {
            &.intro-section {
               margin-top: 21%;
               margin-bottom: 14%;
            }

            h3 {
               font-size: 50px;
               line-height: 58px;
               @include letSpc(4px);
            }
         }
      }

      .lg-sq-two-sm-sq,
      .two-sm-sq-lg-sq {
         .span_4_of_12,
         .span_8_of_12 {
            width: 100%;
         }

         .span_4_of_12 {
            .card--sq {
               width: 50%;
            }
         }

         .span_8_of_12 {
            .card--sq {
               width: 100%;
               padding-bottom: 100%;
            }
         }
      }

      .media-boxes .sm-sq {
         padding-bottom: 50%;
         display: inline-block;
      }
   }
}

@media only screen and (max-width:700px) {
   .single-project-proposals #project-proposal-password-screen {
      .step-heading {
         h3 {
            margin-bottom: 6px;
         }

         h2 {
            font-size: 46px;
            line-height: 52px;
         }
      }
   }
}

@media only screen and (max-width:650px) {
   .divider-centered-content {
      .container {
         max-width: 560px;
      }

      p {
         font-size: 17px;
         line-height: 29px;
      }
   }
}

@media only screen and (max-width:580px) {
   .single-project-proposals {
      &.single {
         .section-heading {
            &.intro-section {
               margin-top: 25%;
               margin-bottom: 15%;
            }

            h3 {
               font-size: 40px;
               line-height: 48px;
               @include letSpc(3px);
            }
         }
      }

      .divider-centered-content {
         p {
            font-size: 16px;
            line-height: 27px;
         }
      }
   }
}

@media only screen and (max-width:550px) {
   .single-project-proposals {
      .lg-sq-two-sm-sq,
      .two-sm-sq-lg-sq {
         .span_4_of_12 {
            .card--sq {
               width: 100%;
            }
         }
      }

      .media-boxes {
         .card--sq {
            padding-bottom: 100%;
            display: block;
         }
      }
   }

   .single-project-proposals {
      .proposal-item-list {
         &.number-cards {
            .proposal-item.card {
               .inner {
                  padding-top: 40px;
                  padding-bottom: 40px;
               }
            }
            .proposal-total.card {
               .inner {
                  padding-top: 75px;
                  padding-bottom: 75px;
               }
            }
         }
      }
   }
}

@media only screen and (max-width:500px) {
   .single-project-proposals #project-proposal-password-screen {
      .step-heading {
         h3 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 4px;
         }

         h2 {
            font-size: 32px;
            line-height: 40px;
         }
      }
   }
}

@media only screen and (max-width:460px) {
   .single-project-proposals {
      &.single {
         .section-heading {
            &.intro-section {
               margin-top: 25%;
               margin-bottom: 16%;
            }

            h1 {
               font-size: 15px;
               line-height: 18px;
            }

            h3 {
               font-size: 32px;
               line-height: 40px;
            }
         }
      }
   }
}

@media only screen and (max-width:400px) {
   .single-project-proposals {
      &.single {
         .section-heading {
            h3 {
               font-size: 28px;
               line-height: 34px;
               @include letSpc(2px);
            }
         }
      }
   }
}