.project-planner {
   .hero {
      //background-image: url(../img/section-bgs/project-planner-hero-bg.jpg);
      @extend %bgCover--center;
      z-index: 3;  // for form pagination dots
   }

   .hero-overlay {
      background-color: rgba($darkGray, .58);
      @extend %absFill;
      z-index: 1;
   }

   .sticky-header-wrapper {
      height: 0 !important;
   }

   .sticky-header {
      position: fixed;
   }

   #main {
      position: relative;
      //margin-top: -70px;
      @extend %bgCover--center;

      // &.form-step-1 {
      //    background-image: url(../img/section-bgs/pp-fs1.jpg);
      // }
      // &.form-step-2 {
      //    background-image: url(../img/section-bgs/pp-fs2.jpg);
      // }
      // &.form-step-3 {
      //    background-image: url(../img/section-bgs/pp-fs3.jpg);
      // }
      // &.form-step-4 {
      //    background-image: url(../img/section-bgs/pp-fs4.jpg);
      // }
   }

   .form-pagination {
      position: fixed;
      top: 0;
      right: 3%;
      width: 20px;
      height: 100vh;
      opacity: 0;
      @extend %hoverTrans;
      z-index: 2;

      &.visible {
         opacity: 1;
      }

      .inner {
         display: block;
      }

      .dot {
         font-size: inherit;
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin: 0 8px;
         width: 10px;
         height: 10px;
         cursor: pointer;

         a {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            outline: none;
            border-radius: 50%;
            background-color: $lightGray;
            text-indent: -999em; /* make the text accessible to screen readers */
            cursor: pointer;
            position: absolute;
            -webkit-transition: -webkit-transform 0.3s ease .2s, background-color 0.3s ease;
            transition: transform 0.3s ease .2s, background-color 0.3s ease;

            &:focus {
               background-color: $lightGray;
            }

            &:hover {
               background-color: $medGray;
            }

            &.active {
               background-color: $quaternaryDk;
               -webkit-transform: scale(1.4);
               transform: scale(1.4);
               -webkit-transition: -webkit-transform 0.3s ease .2s, background-color 0.3s ease .2s;
               transition: transform 0.3s ease .2s, background-color 0.3s ease .2s;
            }
         }
      }
   }

   .step-heading {
      text-align: center;
      margin-bottom: 7%;

      h3 {
         color: $quaternaryDk;
         @extend %white50;
         @extend %sans;
         font-size: 16px;
         line-height: 19px;
         text-transform: uppercase;
         margin-bottom: 10px;
         @include letSpc(2px);
      }

      h2 {
         font-size: 74px;
         line-height: 80px;
      }
   }

   .gform_confirmation_message {
      .step-heading {
         @extend .narrowContent;
         max-width: 800px;
      }

      .confirm-message {
         text-align: center;
         margin-top: 5%;

         h3 {
            color: $darkGray;
            @extend %sans;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 0;
            margin-top: 36px;
         }
      }
   }


   // Form specifics - - - - - - -
   .gform_wrapper,
   .gforms_confirmation_message {
      position: relative;
      z-index: 1;

      .projectPlannerForm {
         overflow: scroll;
      }

      .gf_page_steps_wrapper {
         width: 14px;
         height: 100vh;
         position: fixed;
         top: 0;
         right: 2%;
         z-index: 1;
      }

      .gf_page_steps {
         width: 14px;
         margin: 0;
         padding: 0;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         opacity: 0;
         @extend %hoverTrans;

         &.visible {
            opacity: 1;
         }

         .gf_step {
            width: 10px;
            height: 10px;
            display: block;
            margin-right: 0;
            margin-bottom: 15px;
            opacity: 1;
            text-align: left;

            .gf_step_number {
               display: inline-block;
               float: none;
               text-indent: -9999px;
               background-color: rgba($darkGray, .25);
               width: 10px;
               height: 10px;
               border-radius: 50em;
               text-align: left;

            }

            &.gf_step_active {
               width: 14px;
               height: 14px;
               margin-left: -2px;

               .gf_step_number {
                  background-color: $quaternaryDk !important;
                  width: 14px;
                  height: 14px;
               }
            }
         }

         .gf_step_label {
            display: none;
         }
      }

      li.gfield.gf_list_2col {
         label.gfield_label {
            margin-bottom: 20px;
         }

         ul.gfield_radio li {
            margin-bottom: 20px;
            min-height: inherit;
         }
      }
   }

   .gform_body {
      @extend .container;
      @extend .narrowContent;
      max-width: 80%;
   }

   .html-no-margin {
      margin: 0 !important;
   }

   .step-wrapper {
      position: relative;

      &.step-1 {
         label {
            display: none;
         }
      }

      &.step-2 {
         @extend .narrowContent;
         max-width: 900px;

         label.gfield_label {
            @extend %sans;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 20px;
         }

         .step-inner {
            margin: 20px 0;
         }
      }

      &.step_3 {
         .top_label .gfield_label {
            display: none !important;
         }
      }
   }
   .gform_wrapper .step-wrapper.step-3 {
      .top_label .gfield_label {
         display: none;
      }
   }

   form {
      .step-wrapper {
         &.step-2 {
            .top_label li.gfield {
               &.gf_list_2col ul.gfield_radio li {
                  width: 100% !important;
                  display: block !important;
               }
            }
         }
      }

      .btn {
         text-align: center;
         margin-top: 2%;
      }

      .custom-submit-button {
         &.gfield_html {
            margin-top: 7%;
         }

         button {
            background-color: transparent;
            border: 0;

            &:focus {
               outline: none;
            }
         }
      }

      .gfield_required {
         color: $darkGray;
      }
   }

   .gform_footer {
      display: none;
   }
}


// PROJECT PLANNER PAGE BREAKPOINTS = = = = = = =

@media only screen and (max-width:1140px) {
   .project-planner {
      .step-heading {
         h2 {
            font-size: 66px;
            line-height: 72px;
         }
      }

      .gform_body {
         max-width: 86%;
      }
   }
}

@media only screen and (max-width:900px) {
   .project-planner {
      .step-heading {
         h3 {
            margin-bottom: 8px;
         }

         h2 {
            font-size: 56px;
            line-height: 62px;
         }
      }
   }
}

@media only screen and (max-width:840px) {
   .project-planner {
      .gform_body {
         //padding: 70px 0 50px;
      }

      form {
         .step-wrapper {
            &.step-2 {
               .top_label li.gfield {
                  &.gf_right_third {
                     width: 100% !important;
                     max-width: 600px;
                     margin-left: 0 !important;
                  }

                  &.gf_list_2col ul.gfield_radio li {
                     display: inline-block !important;
                     width: 50% !important;
                  }
               }
            }
         }
      }
   }
}

@media only screen and (max-width:700px) {
   .project-planner {
      .step-heading {
         h3 {
            margin-bottom: 6px;
         }

         h2 {
            font-size: 46px;
            line-height: 52px;
         }
      }
   }
}

@media only screen and (max-width:550px) {
   .project-planner {
      form {
         .step-wrapper {
            &.step-2 {
               .top_label li.gfield {
                  &.gf_list_2col ul.gfield_radio li {
                     width: 100% !important;
                     display: block !important;
                  }
               }
            }
         }
      }
   }
}

@media only screen and (max-width:500px) {
   .project-planner {
      .step-heading {
         h3 {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 4px;
         }

         h2 {
            font-size: 32px;
            line-height: 40px;
         }
      }

      .gform_body {
         //padding: 70px 0 50px;
      }
   }
}