.project-planner {
   #main {
      position: relative;
      margin-top: -70px;
      @extend %bgCover--center;

      &.form-step-1 {
         background-image: url(../img/section-bgs/pp-fs1.jpg);
      }
      &.form-step-2 {
         background-image: url(../img/section-bgs/pp-fs2.jpg);
      }
      &.form-step-3 {
         background-image: url(../img/section-bgs/pp-fs3.jpg);
      }
   }

   .gform_wrapper {
      position: relative;
      z-index: 1;
   }
}


// PROJECT PLANNER PAGE BREAKPOINTS = = = = = = =

